{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}
{% block title %}
  retroGames - {{game.sistema.upper()}}
{% endblock%}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
  <div class="d-flex align-items-center p-3 my-3  bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h2 class="mb-0 lh-100">Juego: {{game.nombre.upper()}} ({{game.sistema.upper()}})</h2>
      <small>RetroGAMES</small>
    </div>
  </div>
  
  <div class="card mb-3" >
    <div class="row no-gutters">
      <div class="col-md-3">
        {% if game.image!="" %}
              
              <img style="max-width: 200px;" src="{{url_for('static',filename=game.image)}}" class="card-img" alt="...">
            
              {%else%}
              <img style="max-width: 200px;" src="{{url_for('static',filename='img/sin.jpg')}}" class="card-img" alt="...">
              {%endif%}

      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{game.sistema.upper()}}</h4>
          <h5 class="card-title">{{game.nombre}}</h5>
          <p class="card-text">{{game.categoria}} - {{game.año}}</p>
          <p class="card-text"><small>{{game.desarrollador}} - {{game.distribuidor}}</small></p>
          <strong><h5 class="card-text">Ficheros:</h5></strong>
          <ul></ul>
          {%for file in game.files%}
                <li><a href="{{url_for('static',filename=file)}}">{{file}} </a></li>
                {%endfor%}
                <!-- if mame-->
                {%if game.rom%}
                <li><a href="{{url_for('static',filename='Games/MAMEROMS/'+game.rom)}}" >Games/MAMEROMS/'{{game.rom}} </a></li>
                {%endif%}
        </div>
      </div>
      
    </div>
    
  </div>
  <a href="{{url_for('juegos',sistema=game.sistema,ruta=ruta)}}" class="btn btn-primary">Volver</a>  
      
   </div>
      
{%- endblock %}
