{%- extends "base.html" %}


{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>RetroGAMES</h1>
      <p>Base de datos personal de juegos retro...</p>
      
    </div>
   </div>
   {%- if not coleccion %}
   {% for sistemas in config.SISTEMAS | batch(4, '&nbsp;') %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                {% for sist in sistemas %} 
                    <div class="col-md-3 d-flex align-items-stretch">
                        <div class="card mb-3 shadow-sm text-center">
                            <a href="{{ url_for('juegos', sistema=sist) }}">
                                <img class="img-fluid mx-auto d-block" 
                                     src="{{ url_for('static', filename='img/' + sist + '.png') }}" 
                                     style="width: 100%; height: 200px; object-fit: contain;" 
                                     alt="{{ sist }}"/>
                            </a>
                        </div>
                    </div>   
                {% endfor %}  
            </div>
        </div>
    </div>
{% endfor %}
  {%- else %}
  <div class="album py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            {% for c in coleccion %} 
                <div class="col-md-3 d-flex align-items-stretch">
                    <div class="card mb-3 shadow-sm text-center">
                        <a href="{{ url_for('juegos', sistema='todos', coleccion=c['nombre']) }}">
                            <img class="img-fluid mx-auto d-block" 
                                 src="{{ url_for('static', filename='img/coleccion/' + c['nombre'] + '.png') }}" 
                                 style="width: 100%; height: 200px; object-fit: contain;" 
                                 alt="{{ c['nombre'] }}"/>
                        </a>
                    </div>
                </div>   
            {% endfor %} 
        </div>
    </div>
</div>
{%- endif %}
  </div>
  

{%- endblock %}
