{%- extends "base.html" %}
{% block title %}
  retroGames - {{sistema.upper()}}
{% endblock%}

{% block content %}
  <div class="container">
  
  <div class="d-flex align-items-center p-3 my-3  bg-purple rounded shadow-sm">
    <div class="row">
    <div class="lh-100">
      <div class="col" style="padding-left: 100px">
        {% for sist in config.SISTEMAS%}
        <a href="{{url_for('juegos',sistema=sist)}}"><img style="max-width: 100px;" src="{{url_for('static', filename='img/'+sist+'.png')}}"/></a>
              
        {% endfor %}
      </div>
      <br/>
      {% if sistema=="todos" %}
        <h1 class="mb-0 lh-100">Todos los Juegos</h1>
      {%else%}
        <h1 class="mb-0 lh-100">Juegos {{sistema.upper()}}</h1>
      {%endif%}
  
      
    </div>
    
    </div>
  </div>


  <form action="/sistema/{{sistema}}" method="POST" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="col-12">
      <label class="floatingInput" for="inlineFormInputGroupUsername">Nombre</label>
      <div class="input-group">
        
        <input name="título" type="text" value="{{filtro.título}}" class="form-control" id="inlineFormInputGroupUsername" placeholder="Juego...">
      </div>
    </div>
  
    <div class="col-12">
      <label class="floatingInput" for="inlineFormSelectPref">Desarrollador</label>
      <select name="desarrollador" class="form-select" id="inlineFormSelectPref">
        <option selected></option>
        {% for desarrollador in juegos.desarrollador %}
          {% if desarrollador.split(" (")[0]==filtro.desarrollador %}
          <option value="{{desarrollador.split(" (")[0]}}" selected>{{desarrollador}}</option>
          {%else%}
          <option value="{{desarrollador.split(" (")[0]}}">{{desarrollador}}</option>
          {%endif%}
        {% endfor %}
      </select>
    </div>

   
    <div class="col-12">
      <label class="floatingInput" for="inlineFormSelectPref">Géneros</label>
      <select name="genero" class="form-select" id="inlineFormSelectPref">
        <option selected></option>
        {% for genero in juegos.genero %}
          {% if genero.split(" (")[0]==filtro.genero %}
          <option value="{{genero.split(" (")[0]}}" selected>{{genero}}</option>
          {%else%}
          <option value="{{genero.split(" (")[0]}}">{{genero}}</option>
          {%endif%}
        {% endfor %}
      </select>
    </div>


    <div class="col-12">
      <label class="floatingInput" for="inlineFormSelectPref">Año</label>
      <select name="año" class="form-select" id="inlineFormSelectPref">
        <option selected></option>
        {% for año in juegos.año %}
        {% if año.split(" (")[0]==filtro.año %}
          <option value="{{año.split(" (")[0]}}" selected>{{año}}</option>
          {%else%}
          <option value="{{año.split(" (")[0]}}">{{año}}</option>
          {%endif%}
        {% endfor %}
      </select>
    </div>
    
  
    <div class="col-12">
      
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>




      <br/><h3>Juegos: {{juegos.lista|length}}</h3><br/>
  
      <div class="container">
        {% for datos_row in juegos.lista  | batch(6, '&nbsp;') %}
        <div class="row">
          {% for game in datos_row %}
          {% if game.título %}
          <div class="col">
            <div class="card" style="width: 12rem;">
              <a href="{{url_for('juego',sistema=sistema,sistema_juego=game.plataforma,nombre=game.título)}}">
              {% if os.path.exists('./static/thumbnails/'+dir[game.plataforma]+'/Named_Boxarts/'+game.imagen+'.png') %}
              <img src="{{url_for('static',filename='thumbnails/'+dir[game.plataforma]+'/Named_Boxarts/'+game.imagen+'.png')}}" class="card-img-top" alt="...">
              {% else %}
              <img src="{{url_for('static',filename='img/sin.jpg')}}" class="card-img-top" alt="...">
              {%endif%}
              </a>
              
              <div class="card-body">
                <strong><p class="card-title">{{game.título}}</p></strong>
                  <img style="max-width: 72px;" src="{{url_for('static',filename='img/'+game.plataforma.lower()+'.png')}}" class="card-img" alt="..."></h5><br/>
                <small class="card-text">{{game.desarrollador}} - {{game.año}}</small>
                <br/>
                <small class="card-text">{{game.genero}}</small>
                <br/><br/><center><a class="btn btn-primary" href="{{url_for('jugar',sistema=sistema,sistema_juego=game.plataforma,nombre=game.título)}}" >Jugar</a></center>
               
              </div>
            </div>
          </div>
          {% else %}
          <div class="col"></div>
          {% endif %}
          {% endfor%}
        </div>
        {% endfor %}
      </div>

    
      
   </div>
      
{%- endblock %}
